<p id="notice"><%= notice %></p>

<h1>Components</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Supplier </th>
      <th>Component</th>
      <th>Component Description</th>
      <th>Component Type</th>
      <th>Quantity</th>
      <th>Cost</th>
      <th>Retail Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @components.each do |component| %>
      <tr>
        <td>
          <% supplier = Supplier.find(component.supplier_id) %>
          <%= supplier.company_code %>
        </td>
        <td><%= component.component_id %></td>
        <td><%= component.component_description %></td>
        <td><%= ComponentType.find(component.component_type_id).type_description %></td>
        <td><%= component.quantity %></td>
        <td class="currency"><%= number_with_precision(component.cost, :precision => 2, :delimiter => ',') %></td>
        <td class="currency"><%= number_with_precision(component.retail_price, :precision => 2, :delimiter => ',') %></td>
        <td  class="action_area">
          <button onclick=window.location.href='/components/<%= component.id%>' class="btn btn-info btn-xs">Show</button>
          <button onclick=window.location.href='/components/<%= component.id%>/edit' class="btn btn-warning btn-xs">Edit</button>
          <button onclick=window.location.href='/components/<%= component.id%>/destroy' class="btn btn-danger btn-xs">Destroy</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<!--
<input type="button" class="btn btn-info btn-xs" value="Show">
<input type="button" class="btn btn-warning btn-xs" value="Edit">
<input type="button" class="btn btn-danger btn-xs" value="Delete">
-->

<%= link_to 'New Component', new_component_path %>
