<p id="notice"><%= notice %></p>

<h1>Types</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User type</th>
      <th>User description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= type.user_type %></td>
        <td><%= type.user_description %></td>
        <td class="action_area">
		  <button onclick=window.location.href='/types/<%= type.id%>' class="btn btn-info btn-xs">Show</button>
          <button onclick=window.location.href='/types/<%= type.id%>/edit' class="btn btn-warning btn-xs">Edit</button>
          <button onclick=window.location.href='/types/<%= type.id%>/destroy' class="btn btn-danger btn-xs">Destroy</button>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type', new_type_path %>
