<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>User name</th>
      <th>Password</th>
      <th>User type</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.last_name %>, <%= user.first_name %> <%= user.middle_name %></td>
        <td><%= user.user_name %></td>
        <td><%= user.password %></td>
        <td>
          <%= Type.find(user.type_id).user_description %>
        </td>
        <td class="action_area">
		  <button onclick=window.location.href='/users/<%= user.id%>' class="btn btn-info btn-xs">Show</button>
          <button onclick=window.location.href='/users/<%= user.id%>/edit' class="btn btn-warning btn-xs">Edit</button>
          <button onclick=window.location.href='/users/<%= user.id%>/destroy' class="btn btn-danger btn-xs">Destroy</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
