<p id="notice"><%= notice %></p>

<h1>Suppliers</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Company Code</th>
      <th>Company Name</th>
      <th>Address</th>
      <th>Contact Number</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.company_code %></td>
        <td><%= supplier.company_name %></td>
        <td><%= supplier.address %></td>
        <td><%= supplier.contact_number %></td>
        <td>
          <%= link_to 'Show', supplier %>
          <%= link_to 'Edit', edit_supplier_path(supplier) %>
          <%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplier', new_supplier_path %>
