<%= form_for(component_type, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if component_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(component_type.errors.count, "error") %> prohibited this component_type from being saved:</h2>


      <ul>
      <% component_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<fieldset>

  <div class="form-group">
   <label class="col-md-4 control-label" for="p_number">Type Description</label>
      <div class="col-md-6">
        <%= f.text_field :type_description, :class => 'form-control input-md'%>
      </div>
    </div>


  <div class="form-group">
      <div class="col-md-10 control-label">
        <%= f.submit 'Create Component Type', :class => 'btn btn-success'%>
      </div>
       </div>

   </fieldset>
<% end %>

