<!DOCTYPE html>
<html>
  <head>
   
    
    <title>SolarPowerSpecificationSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <!--Start Navbar code-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
          <!--Menu-->

          <!--Left Part-->
          <div>
            <ul class="nav navbar-nav">
              <li><a href="" class="newbold"><strong>JRV SOLAR</strong></a></li>
            </ul>

            <div>
              
              <ul class="nav navbar-nav">
                <%if !session[:user_id].nil? then%>
                
<!--                <li><a href="index.html" class="newbold">HOME</a></li>-->

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle newbold" data-toggle="dropdown"> <strong>CREATE</strong><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href='/components/new' class="new">Component</a></li>
                    <li><a href='/component_types/new' class="new">Component Type</a></li>
                    <li><a href='/packages/new' class="new">Package</a></li>
                    <li><a href='/suppliers/new' class="new">Supplier</a></li>
                    <% utype = Type.find(User.find(session[:user_id]).type_id).user_type %>
                    <% if utype == "DBA"  || utype == "MAN" then %>
                    <li><a href='/users/new' class="new">User</a></li>
                    <li><a href='/types/new' class="new">User Type</a></li>
                    <% end %>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle newbold" data-toggle="dropdown"> <strong>VIEW</strong> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href='/components' class="new">Components</a></li>
                    <li><a href='/component_types' class="new">Component Types</a></li>
                    <li><a href='/packages' class="new">Packages</a></li>
                    <li><a href='/suppliers' class="new">Suppliers</a></li>
                    <% if utype == "DBA"  || utype == "MAN" then %>
                    <li><a href='/users' class="new">Users</a></li>
                    <li><a href='/types' class="new">User Types</a></li>
                    <% end %>
                  </ul>
                </li>
              </ul>

              <ul class="nav navbar-nav pull-right">
                <li>
                  <a href="/users/<%=session[:user_id]%>" class="newbold"> <strong>EDIT PROFILE</strong></a>
                </li>
                <li>
                  <p class="navbar-btn" style="padding-top:6; padding-bottom:6; padding-left:20; padding-right:20;">
                    <button onclick=window.location.href='/logout' class="btn btn-danger">
                      <span class="glyphicon glyphicon-log-out"></span>
                      LOGOUT
                    </button>
                  </p>
                </li>
              </ul>
              <% end %>
          </div>
        </div>
      </div>
    </nav>
    <!--end navbar code-->
  
  <body>
<!--    <br><br>-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 divcontent">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
